* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
}

/* HEADER */

header {
    background: url(../images/Hero-img.jpg) no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #fefeff;
    font-weight: 900;
    font-style: italic;
    font-family: "Lato";
    text-decoration: underline;
    padding: 20px;
}

.flex-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

#ul-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

li {
    margin-left: 100px;
    margin-right: 50px;
    list-style: none;
    display: inline;
}

.nav-container {
    position: absolute;
}


/* HEADER END */

/* HERO */

.hero {
    background: url(../images/Hero-img.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 25rem;

}

/* HERO END */

/* NAV#2 */

#nav2-container {
    justify-content: space-evenly;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#nav2 {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #414f6b;
    font-weight: 900;
    font-style: italic;
    font-family: "Lato";
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* NAV#2 END*/

/* HISTORY */

#history {
    background: url(../images/peak2.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.flex-history {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.history-blurb {
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}

#history img {
    padding: 5%;
}

#history p {
    width: 55%;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
    font-family: "Lato";
}

.carousel {
    background-color: rgba(65, 79, 107, 0.72);
    display: flex;
    justify-content: center;
    padding: 3%;
    flex-direction: row;
    width: calc(100vw - 10px);
    margin-left: calc(-50vw + 50% + 5px);

}

.preview-imgs {
    width: 20em;
    height: 12em;
}

.slick-slide {
    width: 25em;
}

.slider {
    width: 60em;
}


/* HISTORY END */

/* CLIMB */

#climb {
    background: url(../images/climb-section.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.climb-intro {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding: 50px;
    flex-direction: row;
    align-items: center;
}

.climb-intro p {
    margin-left: 10%;
    width: 65%;
}

#mountain-ul li {
    font-size: 20px;
    text-decoration: underline;
    color: #b0b4be;
    font-weight: 700;
    font-family: "Oswald";
    text-underline-offset: 5px;
}

#mountain-ul {
    padding: 10px;

}


#mountain-ul li:hover {
    color: #414f6b;
}

.mountain-li {
    padding: 10px;
    cursor: pointer;

}

.mountain-li:hover {
    background-color: #b0b4be;
    padding: 10px;
}


.mountain-selection {
    background-color: #414f6b;

}

.schedule-container {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em;
    position: relative;
    display: flex;
    justify-content: center;
}

.schedule-container h1 {
    font-size: 32px;
    color: #414f6b;
    font-weight: 700;
    font-family: "Oswald";
}

.schedule {
    background-color: rgba(255, 255, 255, 0.493);
    width: 25em;
    padding: 20px;
}

.schedule-li {
    display: block;
    margin: 0;
}

.schedule-list {
    display: flex;
    flex-direction: row;
    line-height: 2;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 300;
    font-family: "Lato";
}

.schedule h1 {
    padding-bottom: 10px;
}

/* CLIMB END */

/* FOOTER */

footer {
    background-color: #414f6b;
}

footer,
h2 {
    line-height: 1;
    color: #63769d;
    font-family: 'Bebas Neue';
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flex-footer p {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #63769d;
    font-weight: 900;
    font-style: italic;
    font-family: "Lato";
}

.footer-el {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-el img {
    opacity: 0.6;
}

/* FOOTER END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    .nav-container {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .hero {
        padding: 15rem;
    }

    .slider {
        width: 60em;
        overflow: hidden;
    }

}

@media screen and (max-width: 750px) {
    #history img {
        width: 30%;
    }

    #history {
        background-size: cover;

    }

    .history-blurb {
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .history-blurb p {
        text-align: center;

    }

    .climb-intro {
        flex-direction: column;
    }

    .climb-intro p {
        padding-top: 15px;
        text-align: center;
    }

    #number2-img {
        width: 40%;
    }


}